.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 811px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 22px 0 2px;
}

.u-section-1 .u-text-2 {
  font-size: 4.25rem;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 19px 0 0 4px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  margin: 39px auto 0 2px;
  padding: 14px 63px 15px 62px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 20px;
}

.u-section-1 .u-image-1 {
  width: 497px;
  height: 497px;
  background-image: url("images/gfg.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    width: 451px;
    height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 22px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 335px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 503px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 {
  background-image: url("images/-min.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 761px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 88px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 154px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 72px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 411px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 97px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 162px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 154px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 25px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 77px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 422px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: normal;
  animation-duration: 1000ms;
  margin: 19px 1px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 154px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 154px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 421px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-10 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 13px;
}

.u-section-2 .u-icon-5 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 21px 8px 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 24px 8px 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 96px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 127px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 127px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 326px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 348px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 127px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 127px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 347px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 230px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 230px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 230px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 230px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 852px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Alata;
  font-size: 2.25rem;
  width: 598px;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1006px;
  margin: 61px auto 17px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 675px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 7px 32px;
}

.u-section-3 .u-text-2 {
  margin: 65px 28px 0;
}

.u-section-3 .u-image-1 {
  width: 117px;
  height: 117px;
  background-image: url("images/cn2z.png");
  background-position: 50% 50%;
  margin: 15px auto 0 17px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -103px 28px 0 158px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 43px 0 158px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 7px 32px;
}

.u-section-3 .u-text-5 {
  margin: 65px 28px 0;
}

.u-section-3 .u-image-2 {
  width: 117px;
  height: 117px;
  background-image: url("images/arnicap.png");
  background-position: 50% 50%;
  margin: 15px auto 0 17px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -103px 28px 0 158px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 43px 0 158px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 7px 32px;
}

.u-section-3 .u-text-8 {
  margin: 65px 28px 0;
}

.u-section-3 .u-image-3 {
  width: 117px;
  height: 117px;
  background-image: url("images/sulp.png");
  background-position: 50% 50%;
  margin: 15px auto 0 17px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: -103px 28px 0 158px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 43px 0 158px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 7px 32px;
}

.u-section-3 .u-text-11 {
  margin: 65px 28px 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 117px;
  height: 117px;
  background-image: url("images/alfalfa.png");
  background-position: 50% 50%;
  margin: 15px auto 0 17px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: -103px 28px 0 158px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-13 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 43px 0 158px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -63px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -63px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -63px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: -63px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-right: 15px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2026px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 {
  background-image: url("images/-min1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 640px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1006px;
  margin: 65px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 25px 30px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 37px 266px 0 261px;
}

.u-section-4 .u-form-1 {
  height: 198px;
  margin: 40px 246px 0 241px;
}

.u-section-4 .u-form-group-1 {
  margin-left: auto;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-2 {
  margin-left: auto;
}

.u-section-4 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-3 {
  margin-left: auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 308px;
    margin-left: 56px;
  }

  .u-section-4 .u-form-1 {
    width: 431px;
    margin-right: 228px;
    margin-left: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -42px;
    margin-right: 251px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -792px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 151px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-form-1 {
    margin-top: -619px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: linear-gradient(white, #478ac9);
}

.u-section-5 .u-sheet-1 {
  min-height: 819px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 744px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 31px 15px 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 54px 15px 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-list-icon-3 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-list-icon-5 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-list-icon-7 {
  color: rgb(244, 67, 54) !important;
}

.u-section-5 .u-shape-1 {
  width: 102px;
  height: 102px;
  background-image: none;
  margin: 31px 15px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 420px;
  height: 577px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 563px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 636px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 400px;
  }
}.u-section-6 {
  background-image: linear-gradient(white, #332929);
}

.u-section-6 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-6 .u-shape-1 {
  width: 643px;
  background-image: none;
  height: 1048px;
  margin: 74px auto 0;
}

.u-section-6 .u-gallery-1 {
  width: 863px;
  height: 570px;
  grid-gap: 10px 10px;
  margin: -874px auto 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-group-1 {
  width: 470px;
  min-height: 395px;
  background-image: none;
  margin: -37px 0 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-6 .u-text-1 {
  margin: 43px 20px 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  margin: 49px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-6 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
  }

  .u-section-6 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -87px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-6 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 74px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -1296px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-6 .u-group-1 {
    margin-top: -121px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3028px;
  }

  .u-section-6 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-left: auto;
  }

  .u-section-6 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2842px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-6 .u-group-1 {
    width: 425px;
    margin-top: -140px;
    margin-right: 0;
    margin-bottom: 112px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2444px;
  }

  .u-section-6 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-6 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2136px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 464px;
    width: 305px;
    margin-top: 60px;
    margin-bottom: -523px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-7 .u-image-1 {
  width: 759px;
  height: 737px;
  margin: 152px 0 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 418px;
  width: 498px;
  margin: -828px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 40px;
}

.u-section-7 .u-shape-1 {
  width: 69px;
  height: 69px;
  margin: 52px auto 0 0;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-family: Alata;
  letter-spacing: normal;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 14px 1px 0 0;
}

.u-section-7 .u-group-2 {
  width: 375px;
  min-height: 421px;
  margin: 68px auto 60px 270px;
}

.u-section-7 .u-container-layout-2 {
  padding: 50px 40px;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 1px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-7 .u-image-1 {
    width: 697px;
    height: 687px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
  }

  .u-section-7 .u-group-2 {
    margin-left: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-7 .u-image-1 {
    width: 588px;
    height: 577px;
  }

  .u-section-7 .u-group-1 {
    min-height: 391px;
    width: 391px;
    margin-top: -790px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-7 .u-group-2 {
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-7 .u-image-1 {
    width: 463px;
    height: 463px;
  }

  .u-section-7 .u-group-1 {
    min-height: 375px;
    width: 324px;
    margin-top: -615px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-group-2 {
    width: 331px;
    margin-left: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-7 .u-image-1 {
    width: 310px;
    height: 320px;
  }

  .u-section-7 .u-group-1 {
    min-height: 353px;
    margin-top: -421px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-7 .u-group-2 {
    width: 310px;
    min-height: 410px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
  }
}